.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* GRID DE 12 COLUNAS */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

/* RESPONSIVIDADE */
@media (max-width: 1200px) {
  .grid { grid-template-columns: repeat(8, 1fr); }
}

@media (max-width: 992px) {
  .grid { grid-template-columns: repeat(6, 1fr); }
}

@media (max-width: 768px) {
  .grid { grid-template-columns: repeat(4, 1fr); }
}

@media (max-width: 576px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 400px) {
  .grid { grid-template-columns: repeat(1, 1fr); }
}
